#p1 {
    background-color: tomato;
}
#p2 {
    background-color: darkgreen;
}

.whiteFont{
    color: aliceblue;
}

#ttt{
    color:chartreuse;
    background-color: black;
}
#ttt{
    color:aqua;
    background-color: black;
}